Checks: >
    bugprone-*
    boost-*,
    cppcoreguidelines-*,
    clang-analyzer-*,
    hicpp-*,
    #misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    
HeaderFilterRegex: >
                "include/ctmo/Foundations/*|include/ctmo/ImpuritySolver/*|include/ctmo/Model/*|include/ctmo/MonteCarlo/*|include/ctmo/SelfConsistency/*"   

